
python_proj/sparrow_pop_SK=0.02IK=0.03, it = 100.npy
python_proj/sparrow_pop_SK=0.01IK=0.03, it = 100.npy
python_proj/sparrow_pop_SK=0.015IK=0.03, it = 100.npy
python_proj/rice_pop_SK=0.02IK=0.03, it = 100.npy
python_proj/rice_pop_SK=0.01IK=0.03, it = 100.npy
python_proj/rice_pop_SK=0.015IK=0.03, it = 100.npy
python_proj/insect_pop_SK=0.02IK=0.03, it = 100.npy
python_proj/insect_pop_SK=0.01IK=0.03, it = 100.npy
python_proj/insect_pop_SK=0.015IK=0.03, it = 100.npy
